<!doctype html>
<html>
<head>
  <title>PursueAlong</title>
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/home.css">
</head>
<body ng-app="home">
  <% if (!user) {%>
  <div id="top-bar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-header" href="/" id="header">
      <h2 class='logo'>PursueAlong</h2></a>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <form class="navbar-form navbar-nav navbar-right" id="login" action="/login" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="email or username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-danger" >Login</button>
        </form>
      </div>
    </div>
  </div>
  <div id="dim_screen">
    <div class="container-fluid" id="signup">
      <div class"container" id="center">
        <a href="/auth/facebook" class="btn btn-primary btn-lg" style="width: 15.5em;display: table;
    margin-top: 30px;margin-bottom: 30px;"><span class="fa fa-facebook"></span>Signup with Facebook</a>
        <!-- Sign Up FORM -->
        <form action="/register" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="first_name" placeholder="first_name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="last_name" placeholder="last_name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="username">
          </div>
          <div class="form-group" id="profile">
            <label>Gender&nbsp;</label>
            Male <input type="Radio" Name="gender" Value="Male"> 
            Female<input type="Radio" Name="gender" Value="Female">
          </div>
          <div class="form-group" id="profile">
            <label>Interests</label>
            <input type="text" class="form-control" name="interests" placeholder="interests">
          </div>
          <button type="submit" class="btn btn-danger btn-lg" style="width: 15.5em;display: table;
    margin: 0 auto;">Signup</button>
        </form>
        <!-- End of Sign Up FORM -->
      </div>
    </div>
  </div>  
  <% } else { %>
 <!--
  put user specified newsfeed/page here.
  -->
  <div id = "container" ng-controller="main" ng-init="init()">
    <div class="collapse navbar-collapse" id="top_bar">
      <div id = "search_bar" class = "col-md-6">
          <label> Search: </label>
          <input type = "text" id = "query" ng-model="inputVal">
          {{inputVal}}
      </div> <!-- end of search_bar -->
      <ul class="nav navbar-nav" id="top_bar_elem">
        <li><a id = "home" href="/">Home</a></li>
        <li><a id = "profile" href="/profile"><%= user.local.first_name %> <%= user.local.last_name %></a></li>
        <li class="dropdown">
          <a href="#" id = "account" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/logout">Logout</a></li>
            <li><a href="#">Create Group</a></li>
            <li><a href="#"></a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Privacy Settings</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> <!-- end of top_bar_elem -->
    </div> <!-- end of top_bar -->
    <div class="col-md-2" id="tool_bar">
      <label> Groups: </label>
      <div class="group_div">
        <div id = "group_button">
          <a href = "/"> General </a>
        </div>
        <div id = "group_button" ng-repeat= "group in groups">
          <a ng-href = "/groups/{{group.tag}}"> {{group.tag}} </a>
        </div>
        <input type = "text" id = "addGroupButton" ng-model="groupInput">
        <button type = "button" ng-click="postGroup()"> Add Group</button>
      </div>
    </div>
    <div class="col-md-10" id="content_bar">
      <input type = "text" id = "post_query" ng-model="postVal">
      <button type = "button" ng-click="postContent()"> Post </button>
      <div id = "newsfeed">
        <div id = "post" ng-repeat= "elem in content | limitTo: 20 track by $index">
          {{elem.content}} by {{elem.author}} from {{elem.city}}
          <br>
          <div id = "upvote">
            Upvotes: {{elem.upvote.length}}
            <button id={{elem._id}} ng-click="doUpvote(elem)"> upvote </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</body>
</html>
